body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* text-align: center; */
}
a{
    cursor: pointer;
}
a.active{
    border: 1px solid #ccc;
    /* background-color: rgb(11, 123, 11); */
    padding: 10px;
    /* color: white; */

}
.output-active,.output-completed{
    display: none;
}
.input{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.container{
    margin-top: 100px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    min-height: 30rem;
    background-image:linear-gradient(rgb(182, 247, 182),rgb(84, 247, 84));
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 10px;
}

header{
    margin-top: 20px;
    font-size: 30px;
    text-align: left;
    margin-left: 70px;
    margin-bottom: 10px;
    color: rgb(24, 70, 24);
}

.user-input-class{
    margin-top: 5px;
    width: 80%;
    height: 2rem;
    border-width: .2rem;
    border-color: rgb(133, 221, 133);
    font-size: 20px;
}

.user-input-class::placeholder{
    font-size: 20px;
    color: rgb(43, 255, 0);
}

.add-button{
    height:2.5rem;
    margin-bottom: 8px;
    background-image:linear-gradient(rgb(169, 248, 169),rgb(87, 253, 87)) ;
    color: white;
    cursor: pointer;
}
.save-button{
    background-image: linear-gradient(rgb(169, 248, 169),rgb(87, 253, 87));
    font-size: 15px;
    margin-left: 30px;
    color: white;
    cursor: pointer;
    height: 2rem;
}


/* .output header{
    text-align: left;
}
.output {
    text-align: left;
    margin-left: 30px;
    
} */

.output ul {
    
    width: 85%;
    margin-left: 4%;
    color: white;
}

.list-item{
    background-color: rgb(34, 159, 90);
    margin-right: 15px;
    margin-bottom: 5px;
    display: flex;
    padding: 15px;
    font-size: 20px;
}

.checkBox{
    height:20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.item-and-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   
}

.states{
    position: absolute;
    top:85%;
    left :40%;
}
.delete-icon{
    cursor: pointer;
}

.checked{
    text-decoration: line-through;
}
input[type=checkbox]:checked+div>label{
    text-decoration: line-through;
}
